.header{
    /*фон в png, т.к нужна прозрачность*/
    min-height: 400px;/*минимальная высота*/
    background-image: url("../content/header_background.png");
    background-size: contain; /*для видимости картинки*/
    display: flex;/*растянулись элементы*/
    margin: 0 auto;
}
.header_contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.container{ /*задан размер для верхней части для всех элементов*/
    margin: 0 auto; /*центрировать*/
    width: 100%;
}
.header__container{ /*заданы одни свойства*/
    display: flex; /*логотипы стали в ряд*/
    flex-direction: column; /*стали друг под другом*/
    margin: 0 auto;
}
.header__menu{ /*логотипы*/
    list-style-type: none; /*убрать маркеры*/
    display: flex; /*элементы стали рядом*/
    justify-content: space-between; /*разнести элементы по краям*/
    d-size: contain;/*картинка попадала по высоте*/
    background-position: right ;/*справо*/
    margin: 42px 0 0;
}
.header__menu li:hover{
    opacity: 0.8;/*осветление логотипа*/
}
.header__contacts_menu{
    list-style-type: none; /*убрать маркеры*/
    display: flex; /*элементы стали рядом*/
    justify-content: space-between; /*разнести элементы по краям*/
    background-position: right ;/*справо*/
    margin-top: 18px;
    padding: 0 112px ;
}
.header__contacts_menu li:hover{
    opacity: 0.8;/*осветление логотипа*/
}
.header__wrapper{
    flex-grow: 1;/*растягивает*/
    background-image: url("../content/header_element.png");
    background-repeat: no-repeat;/*не повторялся*/
    box-sizing: border-box;
    background-size: 45%;
    background-position: right;/*справо*/
    margin-top: 115px;/*отступ*/
    padding-bottom: 113px;/*отступ*/
}
.header_contacts__wrapper{
    flex-grow: 1;/*растягивает*/
    background-image: url("../content/background_contacts.png");
    background-repeat: no-repeat;/*не повторялся*/
    background-size: cover;/*картинка попадала по ширине*/
    margin-top: 18px;
    max-height: 250px;
    box-sizing: border-box;
    padding-bottom: 57px;
}
.header__title{/*название*/
    max-width: 506px;/*максимальная ширина*/
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 300;/*толщина*/
    font-size: 64px;/*размер текста*/
    line-height: 74px;/*интервал между буквами*/
    letter-spacing: 0.04em;/*междустрочный интервал*/
    color: #1F3F68;/*цвет*/
}
.header_contacts__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}
.header__text{/*текст*/
    margin-top: 39px;/*отступ*/
    max-width: 425px;/*максимальная шрина*/
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 400;/*толщина*/
    line-height: 26px;/*интервал между буквами*/
    letter-spacing: 0.05em;/*междустрочный интервал*/
    color: #1F3F68;/*междустрочный интервал*/
    opacity: 0.6;/*прозрачность*/
}
.header_contacts__text{
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    max-width: 780px;
}
.header__button{
    margin-top: 70px;/*отступ от кнопочки до текста*/
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;/*междустрочный интервал*/
    color: #FFFFFF;/*междустрочный интервал*/
    background: #5A98D0;/*цвет background*/
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    text-decoration: none;/*убрать подчеркивание*/
    padding: 15px 50px;/*отступ сверху и снизу 15px, слева и справо 50px*/
    display: inline-block;/*строчно-блочный элемент, чтобы не налазила на текст*/
}
.header__button:hover{
    background: #418bcb/*свойство наведения на кнопку*/
}
.main{
    margin: 0 auto;
    /*padding-left: 113px;*/
}
.contacts{
   position: relative;
    margin: 0 auto;
    max-width: 940px;
}
.contacts_main__contacts{
    display: flex;
    justify-content: space-between;
    max-width: 940px;
    margin: 0 auto;
    gap: 101px;
}
.main__contact-img{
    position: relative;
    height: 843px;
}
.contact-img{
    display: flex;
    max-height: 181px;
    width: 300px;
    margin-top: 120px;
}
.main__contact_address{
    font-family:'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 56px;
}
.contact_address{
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
    max-width: 299px;
    margin-top: 24px;
}
.contact_date{
    display: flex;
    flex-direction: column;
}
.contact_phone-title{
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 40px;
}
.main__contacts_menu{
    list-style-type: none; /*убрать маркеры*/
    position: relative;
    margin-top: 28px;
    padding: 0;
  }
.phone_1{
    display: flex;
    gap: 19px;
    text-decoration: none;/*убрать подчеркивание*/
}
.phone__img{
    opacity: 0.5;
}
.phone__img:hover{
    opacity: 1;
}
.phone__text{
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}
.phone_2{
    display: flex;
    gap: 19px;
    position: relative;
    justify-content:left;
    text-decoration: none;/*убрать подчеркивание*/
    margin-top: 16px;
}
.online-service{
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 500px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 40px;
}
.main__contacts_online-service{
    list-style-type: none; /*убрать маркеры*/
    position: relative;
    margin-top: 27px;
    padding: 0;
}
.service__site{
    display: flex;
    gap: 18px;
    position: relative;
    justify-content:left;
    text-decoration: none;/*убрать подчеркивание*/
}
.site-mail__img{
    margin-bottom: 18px;
    opacity: 0.5;
}
.site-mail__img:hover{
    opacity: 1;
}
.site-mail__title{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 18px;
}

.main__contact-card{
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    width: 540px;
    height: 800px;
    margin-top: 70px;
}
.contact-card-title{
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    margin-top: 56px;

}
.full_name{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-top: 48px;
    box-sizing: border-box;
}
.card-name{
    width: 428px;
    height: 72px;
    left: 670px;
    top: 608px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    border-radius: 10px;
    padding-left: 32px;
    width: 100%;
    box-sizing: border-box;

}
.full_email{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-top: 32px;
    box-sizing: border-box;
    width: 100%;
}
.card-email{
    width: 100%;
    height: 72px;
    left: 670px;
    top: 608px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    border-radius: 10px;
    padding-left: 32px;
    box-sizing: border-box;
}
.full_card-message{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    margin-top: 32px;
    box-sizing: border-box;
}
.card-message{
    width: 428px;
    height: 144px;
    left: 670px;
    top: 608px;
    opacity: 0.4;
    border: 1px solid #356EAD;
    border-radius: 10px;
    padding-left: 32px;
    padding-top: 21px;
    width: 100%;
    box-sizing: border-box;
}
.main__message__button{
    display: flex;
    align-items: center;
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    max-height: 72px;
    margin: 72px 0;
    width: 100%;
}
.main__message__button:hover{
    background: #356EAD/*свойство наведения на кнопку*/
}
.card-message__button{
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    justify-content: center;
    box-sizing: border-box;
}
.card-message__button{
    text-align: center;
    display: inline-block;
    text-decoration: none;/*убрать подчеркивание*/
    padding: 23px 183px;
}
.main__contact-map{
    display: flex;
    justify-content: center;
    margin-top: 96px;
}
.iframe{
    width: 940px;
    height: 480px;
}
.main__container{ /*заданы одни свойства*/
    display: flex; /*логотипы стали в ряд*/
    flex-direction: column; /*стали друг под другом*/
    min-height: 585px;
}
.main__text{
    margin-top: 64px;/*отступы*/
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 300;/*толщина*/
    font-size: 36px;/*размер текста*/
    line-height: 46px;/*интервал между буквами*/
    text-align: center;
    letter-spacing: 0.05em;/*междустрочный интервал*/
    color: #000000;
}
.main__client{
    display: flex;
    justify-content: center;
    gap: 32px;
    min-height: 480px;
    margin-top: 64px;
}
.main__make-card{
    background: #FFFFFF;
    box-shadow: 5px 20px 50px
    rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    max-width: 358px;
}
.make-business__img{
    margin: 44px 117px 52px 70px;/*отступ*/
    width: 172px;
    min-height: 121px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.make-business__title{
    margin: 0 44px 14px 32px;/*отступ*/
    max-width: 283px;/*максимальная ширина*/
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 400;/*толщина*/
    font-size: 20px;/*размер текста*/
    line-height: 30px;/*интервал между буквами*/
    letter-spacing: 0.05em;
    color: #1F3F68;
}
.make-business__text{
    margin: 0 59px 30px 32px;/*отступ*/
    max-width: 268px;/*максимальная ширина*/
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
}
.make-business__lear-more{
    display: flex; /*элементы стали рядом*/
}
.lear-more__text{
    margin: 0 0 0 32px;
    font-family:'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    opacity: 0.6;
}
.lear-more__text:hover{
    opacity: 1;
}
.lear-more__vector{
    margin: 8px 0 47px 32px;
    opacity: 0.6;
}
.lear-more__vector:hover{
    width: 20px;
    height: 19px;
    font-weight: bold;
    opacity: 1;
}
.make-technology__img{
    margin: 44px 110px 45px 116px;/*отступ*/
    width: 132px;
    height: 126px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.make-digital-product__img{
    margin: 49px 117px 49px 95px;/*отступ*/
    width: 147px;
    height: 119px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.make-digital-product__title{
    margin: 0 32px 15px 32px;/*отступ*/
    max-width: 295px;/*максимальная ширина*/
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 400;/*толщина*/
    font-size: 20px;/*размер текста*/
    line-height: 30px;/*интервал между буквами*/
    letter-spacing: 0.05em;
    color: #1F3F68;
}
.main__finished-title{
    margin: 64px 0 0;
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 300;
    font-size: 36px;
    line-height: 46px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}
.main__finished-subtitle{
    margin: 32px 195px 32px;
    max-width: 750px;
    height: 52px;
    font-family: 'Roboto', sans-serif;/*тип шрифта Roboto*/
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align:  center;
    align-items: center;
    letter-spacing: 0.05em;
    color: #222222;
}
.main__smart-home{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    /*background-image: url("content/smart_home.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}
.smart-home__text{/*текст в картинке*/
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 64px;
    margin-left: 678px;
}
.main__apps-wrapper{
    position: relative;
    display:flex;/*чтобы элементы стали рядом*/
    gap: 32px;/*растояние между элементами*/
    margin-top: 32px;
    justify-content: center;
}
.sparklite-app__text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 32px;
    left: 32px;
}
.main__car-app{
    height: 417px;
    width: 554px;
    display:block;
    position: relative;
    border-radius: 10px;
    margin-top: 32px;
}
.car-app__text{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    top: 32px;/*сверху*/
    left: 618px;
}
.footer {
    margin-top: 112px;
    background-color: #316099;
    min-height: 657px;
}
.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 100%;
}
.footer_instead {
    min-height: 390px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}
.footer__wrapper{
    display: flex;
    flex-direction: column;
}
.footer__title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    max-width: 341px;
    max-height: 92px;
}
.footer__text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    max-width: 495px;
    max-height: 80px;
    margin-top: 32px;
}
.footer__button{
    background: #5A98D0;
    max-width: 237px;
    max-height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;/*убрать подчеркивание*/
    padding: 15px 79px;
    display: inline-block;
}
.footer__button:hover{
    background: #418bcb/*свойство наведения на кнопку*/
}
.line{
    opacity: 0.4;
    border: 1px solid #FFFFFF;
}
.footer_contacts ol{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 64px;
}
.footer_contacts ol li{
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    max-width: 250px;
    padding-left: 19px;
}
.data-list{
    list-style-type: none;
    padding-left: 19px;
    position: relative;
}
.data-list:nth-child(1)::before{
    content: "A.";
    position: absolute;
    left: -19px;
}
.data-list:nth-child(2)::before{
    content: "T.";
    position: absolute;
    left: -19px;
}
.data-list:nth-child(3)::before{
    content: "E.";
    position: absolute;
    left: -19px;
}
.footer__reserved{
    font-family:'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
}



